@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rasa", "Roboto";
    scroll-behavior: smooth;
}


/* Navbar */

header {
    background-color: #1E3163;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar-items {
    list-style: none;
    display: flex;
    margin-left: 560px;
}

.nav-bar li {
    padding: 16px 32px;
}

.nav-bar-items li a {
    font-weight: 700;
    font-family: "Roboto";
}

a {
    text-decoration: none;
    color: white;
}


/* Akhir Navbar */

.si {
    width: 100%;
    height: 350px;
    background-color: #012443;
}

.logomipa {
    width: 128px;
    height: 127px;
    margin-top: 90px;
    margin-left: 50px;
    border-radius: 90%;
}

h1 {
    font-size: 42px;
    color: white;
    margin-left: 200px;
    margin-top: -130px;
}

h2 {
    font-size: 18px;
    color: white;
    margin-left: 200px;
    margin-top: 0px;
}

.garis {
    margin-left: 720px;
    margin-top: -130px;
    background-color: #FCA700;
    width: 10px;
    height: 250px;
    /* border-radius: 20px; */
}

.logosi {
    margin-top: -310px;
    margin-left: 670px;
}

.prodi {
    color: white;
    font-size: 42px;
    margin-top: -398px;
    margin-left: 100px;
}

.gelar {
    color: white;
    font-size: 18px;
    margin-left: 100px;
}

.bagian-korprodi img {
    width: 113px;
    height: 117px;
    margin-top: 200px;
    margin-left: 30px;
}

.bagian-korprodi p {
    margin-right: 20px;
    margin-top: -120px;
    margin-left: 160px;
}

.vm {
    background-color: #012443;
    width: 100%;
    height: 380px;
}

.visi {
    font-size: 20px;
    color: white;
    margin-left: 30px;
    margin-top: 50px;
    padding-top: 20px;
}

.pvisi {
    font-size: 20px;
    color: white;
    margin-left: 50px;
}

.misi {
    font-size: 20px;
    color: white;
    margin-left: 700px;
    margin-top: -140px;
}

.visimisi ol {
    font-size: 20px;
    color: white;
    margin-left: 740px;
    margin-right: 30px;
}

.kurikulum {
    width: 100%;
    height: 550px;
}

.kurikulum h5 {
    font-size: 36px;
    color: #012443;
    margin-top: 30px;
}

.mks1 h6 {
    font-size: 30px;
    color: #012443;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.mks1 img {
    width: 20px;
    height: 20px;
    margin-left: 150px;
    margin-bottom: 5px;
}

.mks1 p {
    font-size: 20px;
    margin-left: 175px;
    margin-top: -28px;
    margin-bottom: 5px;
}

.mks1 .sks1 {
    font-size: 20px;
    color: #012443;
    margin-left: 150px;
    margin-top: 5px;
}

.mks2 h6 {
    font-size: 30px;
    color: #012443;
    margin-left: 800px;
    margin-top: -338px;
    margin-bottom: 15px;
}

.mks2 img {
    width: 20px;
    height: 20px;
    margin-left: 800px;
    margin-bottom: 5px;
}

.mks2 p {
    font-size: 20px;
    margin-left: 825px;
    margin-top: -28px;
    margin-bottom: 5px;
}

.mks2 .sks2 {
    font-size: 20px;
    color: #012443;
    margin-top: 5px;
    margin-left: 800px;
}

.mks3 h6 {
    font-size: 30px;
    color: #012443;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.mks3 img {
    width: 20px;
    height: 20px;
    margin-left: 150px;
    margin-bottom: 5px;
}

.mks3 p {
    font-size: 20px;
    margin-left: 175px;
    margin-top: -28px;
    margin-bottom: 5px;
}

.mks3 .sks3 {
    font-size: 20px;
    color: #012443;
    margin-left: 150px;
    margin-top: 5px;
}

.mks4 h6 {
    font-size: 30px;
    color: #012443;
    margin-left: 800px;
    margin-top: -338px;
    margin-bottom: 15px;
}

.mks4 img {
    width: 20px;
    height: 20px;
    margin-left: 800px;
    margin-bottom: 5px;
}

.mks4 p {
    font-size: 20px;
    margin-left: 825px;
    margin-top: -28px;
    margin-bottom: 5px;
}

.mks4 .sks4 {
    font-size: 20px;
    color: #012443;
    margin-top: 5px;
    margin-left: 800px;
}

.mks5 h6 {
    font-size: 30px;
    color: #012443;
    margin-left: 150px;
    margin-top: 20px;
    /* margin-bottom: 15px; */
}

.mks5 .wajib5 {
    margin-top: 2px;
    margin-left: 150px;
}

.mks5 .pilihan5 {
    margin-left: 150px;
    margin-top: 5px;
}

.mks5 img {
    width: 20px;
    height: 20px;
    margin-left: 150px;
    margin-bottom: 5px;
}

.mks5 p {
    font-size: 20px;
    margin-left: 175px;
    margin-top: -28px;
    margin-bottom: 5px;
}

.mks6 h6 {
    font-size: 30px;
    color: #012443;
    margin-left: 800px;
    margin-top: -417px;
    /* margin-bottom: 15px; */
}

.mks6 .wajib6 {
    margin-top: 2px;
    margin-left: 800px;
}

.mks6 .pilihan6 {
    margin-left: 800px;
    margin-top: 5px;
}

.mks6 img {
    width: 20px;
    height: 20px;
    margin-left: 800px;
    margin-bottom: 5px;
}

.mks6 p {
    font-size: 20px;
    margin-left: 825px;
    margin-top: -28px;
    margin-bottom: 5px;
}

.mks7 h6 {
    font-size: 30px;
    color: #012443;
    margin-left: 150px;
    margin-top: 20px;
    /* margin-bottom: 15px; */
}

.mks7 .wajib7 {
    margin-top: 2px;
    margin-left: 150px;
}

.mks7 .pilihan7 {
    margin-left: 150px;
    margin-top: 5px;
}

.mks7 img {
    width: 20px;
    height: 20px;
    margin-left: 150px;
    margin-bottom: 5px;
}

.mks7 p {
    font-size: 20px;
    margin-left: 175px;
    margin-top: -28px;
    margin-bottom: 5px;
}

.mks8 h6 {
    font-size: 30px;
    color: #012443;
    margin-left: 800px;
    margin-top: -385px;
    /* margin-bottom: 15px; */
}

.mks8 img {
    width: 20px;
    height: 20px;
    margin-left: 800px;
    margin-bottom: 5px;
}

.mks8 p {
    font-size: 20px;
    margin-left: 825px;
    margin-top: -28px;
    margin-bottom: 5px;
}

.mks8 .sks8 {
    font-size: 20px;
    color: #012443;
    margin-top: 5px;
    margin-left: 800px;
    margin-bottom: 5px;
}

.himpunan {
    height: 302px;
}

.hima {
    width: 60%;
    height: 300px;
    border-radius: 30px;
    margin-left: 250px;
    margin-top: 1100px;
    margin-bottom: 30px;
    background-color: #012443;
}

.himpunan .logohima {
    margin-top: -310px;
    margin-left: 260px;
    width: 180px;
    height: 180px;
}

.himpunan p {
    font-size: 40px;
    color: white;
    padding-top: 55px;
    margin-left: 250px;
}

.himpunan .kontak {
    font-size: 22px;
    color: white;
    padding-top: 10px;
    margin-left: 250px;
}

hr {
    width: 57%;
    margin-left: 250px;
}

.medsos img {
    margin-top: 3px;
    width: 28px;
    height: 28px;
}

.ig {
    margin-left: 250px;
}

.fb {
    margin-left: 8px;
}

.yt {
    margin-left: 8px;
}

footer {
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #1E3163;
    width: 100%;
    height: 50px;
    padding: 20px;
}

@media screen and (max-width: 700px) {
    header {
        position: static;
        flex-direction: column;
    }
    .nav-bar-items {
        flex-direction: column;
        text-align: center;
    }
}